*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.s-between{
    justify-content: space-between;
}
.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}
header{
    align-items: center;
}
ul{
    justify-content: space-between;
}
li{
    margin: 0 50px;
    align-items: center;
}
.mainimg {
    background-image: url(../images/gonzalo-poblete-C1tnzdAmPE8-unsplash.png);
    background-size: cover;
    width: 100%;
    height: 613px;
    margin-top: 60px;
}
.article-title{
    font-size: 30px;
    color: #707070;
    font-family: 'Archy EDT';
    padding-top: 20px;
}
.article-info{
    font-size: 18px;
    color: #707070;
    font-family: 'Zapf';
}
.popular{
    width: 100%;
    height:686 ;
    
}
.section-title{
    margin-top: 70px;
    margin-bottom: 50px;
    display: block;
    font-size: 40px;
    color: #707070;
    font-family: 'Archy EDT';
}
.article-style{
  max-width: 483px;
  height:563px ;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-style > a {
    color: #707070;
    font-size: 24px;
    font-family: 'Archy EDT';
    margin-left: 414px;
}
.moreinfo{
    position: absolute;
    font-size: 30px;
    left: 50%;
    font-family: 'Archy EDT';
    margin-top: 56px;
    border-bottom: 1px solid #707070;
}
.last{
    margin-top: 170px;
}
footer{
    background-color: #2E2E2E;
    height: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contact > h3{
    font-size: 20px;
    color: white;
}
.contact li{
    font-size: 13px;
    color: white;
}
.icons{
    display: flex;
    justify-content: space-around;
}